@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Pompiere&display=swap');

html {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    font-weight: 600;
}

body {
    margin: 0px;
    padding: 0px;
}

.menu {
    width: 100vw;
    height: 12vh;
    background-color: aquamarine;
}

.card-footer-item {
    background-color: #284863;
    color: white;
}

.login {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* font-family: 'Bellefair', serif; */