@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Pompiere&display=swap');

html {
    background: #dff178 !important;
}

body {
    margin: 0px;
    padding: 0px;
}

.login {
    background-color: #009b58fa !important;
    color: white !important;
}

.register {
    background-color: #0083f5fa !important;
    color: white !important;
}

.center {
    width: 100%;
    height: 92vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    flex: 1;
    max-width: 550px !important;
}

.card-content {
    padding: 2rem 2.5rem 0rem 2.5rem !important;
}

.subtitle {
    text-align: right !important;
}

.anime {
    font-family: 'Pompiere', cursive;
    font-size: 1.75rem;
    font-weight: 600;
}

.character {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 18px !important;
}

.display {
    max-width: 980px !important;
    background-color: rgba(255, 255, 255, 0.35) !important;
}

.shade {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.quote {
    font-size: calc(1.4vw + 1.2vh + 0.75rem) !important;
    word-spacing: 0.5rem !important;
}

.search {
    font-family: 'Pompiere', cursive;
    font-weight: 600;
    line-height: 1.1;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 2px solid rgba(0, 0, 0, 0.7) !important;
    width: calc(25vh + 30vw) !important;
}

.searchButton {
    padding: 1rem 2rem !important;
    border-radius: 5rem;
    outline: none;
    font-family: 'Bellefair', serif;
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background: #00000050;
    cursor: pointer;
}

.smol {
    font-size: calc(0.5vh + 1.5vw + 0.5rem) !important;
}