{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">

    <div class="columns is-mobile">
        <div class="column">
            <a href="https://www.facebook.com/shouvit"><i class="fa fa-3x fa-facebook"></i></a>
        </div>

        <div class="column">
            <a href="#"><i class="fa fa-3x fa-envelope-o"></i></a>
        </div>

        <div class="column">
            <a href="#"><i class="fa fa-3x fa-whatsapp"></i></a>
        </div>

        <div class="column">
            <a href="#"><i class="fa fa-3x fa-phone"></i></a>
        </div>

        <div class="column">
            <a href="https://www.linkedin.com/in/shaw8wit"><i class="fa fa-3x fa-linkedin"></i></a>
        </div>

        <div class="column">
            <a href="https://www.hackerrank.com/shaw8wit"><i class="fa fa-3x fa-code"></i></a>
        </div>

        <div class="column">
            <a href="https://www.instagram.com/shaw8wit"><i class="fa fa-3x fa-instagram"></i></a>
        </div>

        <div class="column">
            <a href="https://www.github.com/shaw8wit"><i class="fa fa-3x fa-github-alt"></i></a>
        </div>
    </div>

</div>

{% endblock %}