{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <span class="icon">
        <i class="fa fa-lock"></i>
    </span>

    <span class="icon">
        <i class="fa fa-facebook"></i>
    </span>

    <span class="icon">
        <i class="fa fa-envelope-o"></i>
    </span>

    <span class="icon">
        <i class="fa fa-whatsapp"></i>
    </span>

    <span class="icon">
        <i class="fa fa-phone"></i>
    </span>

    <span class="icon">
        <i class="fa fa-linkedin"></i>
    </span>

    <span class="icon">
        <i class="fa fa-code"></i>
    </span>

    <span class="icon">
        <i class="fa fa-instagram"></i>
    </span>
</div>

{% endblock %}