{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <!-- <div class="card display">
        <div class="card-content px-6">
            <h2 class="title quote">{{ quote }}</h2>
            <h4 class="subtitle pt-3">
                - {{ character }}
            </h4>
        </div>
        <div class="card-footer">
            <div class="card-footer-item anime">
                {{ anime }}
            </div>
        </div>
    </div> -->
    <div class="flip-card card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}