{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <div class="card display">
        <div class="card-content px-6">
            <h2 class="title quote">{{ quote }}</h2>
            <h4 class="subtitle pt-3">
                - {{ character }}
            </h4>
        </div>
        <div class="card-footer">
            {% if n > 1 %}
            <a href="{% url 'display' n|add:'-1' %}" class="card-footer-item">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% endif %}
            <div class="card-footer-item anime">
                {{ anime }}
            </div>
            {% if n < 11 %}
            <a href="{% url 'display' n|add:'1' %}" class="card-footer-item">
                <i class="fas fa-arrow-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}