{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    {% if type %}
    <center>
        <h2 class="title">Anime Quotes</h2>
        <ul>
            <li>The Anime Quotes Application of the Anime website.</li>
            <li>This application helps you to discover and/or search for new quotes from different anime shows.</li>
            <li>Save and share your favourite quotes.</li>
            <li>Designed using <a href="https://bulma.io">Bulma</a> css.</li>
            <li>The <a href="https://animechanapi.xyz/documentation/">AnimeChanAPI</a> was used to get the data[quotes]
                for this application.</li>
            <li>Personal Project by <a href="https://github.com/shaw8wit">Shouvit Pradhan</a>.</li>
            <li>Like and fork the repo <a href="https://github.com/shaw8wit/otaku-spot">here</a>.</li>
        </ul>
    </center>
    {% else %}
    <div>
        <div class="columns is-mobile is-multiline">
            <div class="column">
                <a href="https://www.facebook.com/shouvit"><i class="fa fa-3x fa-facebook"></i></a>
            </div>

            <div class="column">
                <a href="mailto:shaw7wit@gmail.com"><i class="fa fa-3x fa-envelope-o"></i></a>
            </div>

            <div class="column">
                <a href="https://wa.me/918250541130"><i class="fa fa-3x fa-whatsapp"></i></a>
            </div>

            <div class="column">
                <a href="tel:+918250541130"><i class="fa fa-3x fa-phone"></i></a>
            </div>
        </div>
        <div class="columns is-mobile is-multiline">
            <div class="column">
                <a href="https://www.linkedin.com/in/shaw8wit"><i class="fa fa-3x fa-linkedin"></i></a>
            </div>

            <div class="column">
                <a href="https://www.hackerrank.com/shaw8wit"><i class="fa fa-3x fa-code"></i></a>
            </div>

            <div class="column">
                <a href="https://www.instagram.com/shaw8wit"><i class="fa fa-3x fa-instagram"></i></a>
            </div>

            <div class="column">
                <a href="https://www.github.com/shaw8wit"><i class="fa fa-3x fa-github-alt"></i></a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}