{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <center>
        <h2 class="title">Anime Quotes</h2>
        <ul>
            <li>The Anime Quotes Application of the Anime website.</li>
            <li>This application helps you to discover and/or search for new quotes from different anime shows.</li>
            <li>Save and share your favourite quotes.</li>
            <li>Designed using <a href="https://bulma.io">Bulma</a> css.</li>
            <li>The <a href="https://animechanapi.xyz/documentation/">AnimeChanAPI</a> was used to get the data[quotes]
                for this application.</li>
            <li>Personal Project by <a href="https://github.com/shaw8wit">Shouvit Pradhan</a>.</li>
            <li>Like and fork the repo <a href="https://github.com/shaw8wit/otaku-spot">here</a>.</li>
        </ul>
    </center>
</div>

{% endblock %}