{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Quotes</title>
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body class="has-navbar-fixed-bottom">
    <nav class="navbar is-fixed-bottom is-dark" role="navigation">
        <div class="navbar-brand">
            <a href="{% url 'index' %}" class="navbar-item px-5">
                <img src="https://cutewallpaper.org/21/sharingan-eye-wallpaper/Sharingan-Eyes-Wallpapers-Wallpaper-Cave-Sharingan-eyes-.jpg"
                    alt="Application Icon" />
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="{% url 'search' %}" class="navbar-item px-4">
                    Search
                </a>
                <a href="{% url 'display' %}" class="navbar-item px-4">
                    Random
                </a>
                <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        {% if user.is_authenticated %}
                        <a class="navbar-item">
                            Profile
                        </a>
                        <a class="navbar-item">
                            Notifications
                        </a>
                        {% endif %}
                        <a class="navbar-item">
                            About
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="button is-warning">
                            <strong>Log out</strong>
                        </a>
                        {% else %}
                        <a href="{% url 'register' %}" class="button register">
                            <strong>Sign up</strong>
                        </a>
                        <a href="{% url 'login' %}" class="button login">
                            <strong>Sign in</strong>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <script src="{% static 'quotes/script.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>