{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <div class="card user">
        <div class="card-content">
            <h2 class="title">Login</h2>

            {% if message %}
            <div class="notification is-warning"><button class="delete"></button>{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="field">
                    <label for="username" class="label">Username:</label>
                    <div class="control">
                        <input autofocus class="input" type="text" name="username" placeholder="Username">
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password:</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <input class="button login" type="submit" value="Login">
            </form>
        </div>

        <center>or</center>

        <a href="{% url 'register' %}">
            <footer class="card-footer mt-4">
                <p class="card-footer-item register">
                    Register
                </p>
            </footer>
        </a>
    </div>
</div>

{% endblock %}