{% extends "quotes/layout.html" %}

{% block body %}

<div class="card p-6">
    <h2 class="title">Login</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username" class="label">Enter Username:</label>
        <input autofocus class="input" type="text" name="username" placeholder="Username">

        <label for="password" class="label">Enter Password:</label>
        <input class="input" type="password" name="password" placeholder="Password">

        <input class="button is-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>

{% endblock %}