{% extends "quotes/layout.html"  %}

{% block body %}

<div class="container">

    <div class="columns is-mobile mt-6">
        <div class="column title">{{ user.username }}</div>
        <div class="column title">{{ user.email }}</div>
        <button class="column button is-narrow is-dark">Edit</button>
    </div>

    {% for i in data %}

    <div class="card mb-5 display">
        <div class="card-header">
            <h1 class="card-header-title anime">{{ i.anime }}</h1>
        </div>
        <div class="card-content pb-2">
            <p class="title quote">{{ i.quote }}</p>
            <div class="columns is-mobile">
                <div class="column is-2">
                    <a href="#" class="card-footer-item saveQuote">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
                <div class="column is-2">
                    <a href="#" class="card-footer-item shareQuote">
                        <i class="fa fa-share-alt"></i>
                    </a>
                </div>
                <div class="column is-8">
                    <h4 class="subtitle character">{{ i.character }}</h4>
                </div>
            </div>
        </div>
        <div class="is-hidden profile notification is-warning"><button class="delete"></button><span>Message</span>
        </div>
    </div>

    {% empty %}

    <div class="notification is-warning"><button class="delete"></button>No Quotes saved yet!</div>

    {% endfor %}

</div>
</div>

{% endblock %}