{% extends "quotes/layout.html"  %}

{% block body %}

<div class="container">

    <div class="columns is-mobile mt-5 mx-2">
        <div class="column field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-static username" type="text" value="{{ user.username }}" readonly>
                    </p>
                </div>
            </div>
        </div>
        <div class="column field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-static email" type="email" value="{{ user.email }}" readonly>
                    </p>
                </div>
            </div>
        </div>
        <button class="column button is-narrow is-dark edit">Edit</button>
    </div>
    <div class="is-hidden notification profnotif"><button class="delete"></button><span>Message</span></div>

    {% for i in data %}

    <div class="card mb-5 display">
        <div class="card-header">
            <h1 class="card-header-title anime">{{ i.anime }}</h1>
        </div>
        <div class="card-content pb-2">
            <p class="title quote">{{ i.quote }}</p>
            <div class="columns is-mobile">
                <div class="column is-2">
                    <a href="#" onclick="return false;" class="card-footer-item saveQuote">
                        <i class="fa profile fa-trash-o"></i>
                    </a>
                </div>
                <div class="column is-2">
                    <a href="#" onclick="return false;" class="card-footer-item shareQuote">
                        <i class="fa fa-share-alt"></i>
                    </a>
                </div>
                <div class="column is-8">
                    <h4 class="subtitle character">{{ i.character }}</h4>
                </div>
            </div>
        </div>
        <div class="is-hidden profile notification is-warning"><button class="delete"></button><span>Message</span>
        </div>
    </div>

    {% empty %}

    <div class="notification is-warning"><button class="delete"></button>No Quotes saved yet!</div>

    {% endfor %}

</div>

{% endblock %}