{% extends "quotes/layout.html" %}

{% block body %}

<div class="center">
    <div class="card user">
        <div class="card-content">
            <h2 class="title">Register</h2>

            {% if message %}
            <div class="notification is-warning"><button class="delete"></button>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <div class="field">
                    <label for="username" class="label">Username:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="username" placeholder="Username" required>
                        <span class="icon is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label for="email" class="label">Email:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="email" placeholder="Email" required>
                        <span class="icon is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Password" required>
                        <span class="icon is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label for="confirmation" class="label">Confirm password:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="confirmation" placeholder="Confirm Password"
                            required>
                        <span class="icon is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>

                <input class="button register px-5" type="submit" value="Register">
            </form>
        </div>

        <center>or</center>

        <a href="{% url 'quotes:login' %}">
            <footer class="card-footer mt-4">
                <p class="card-footer-item login">
                    Login
                </p>
            </footer>
        </a>
    </div>
</div>

{% endblock %}